<footer class="footer bg-dark">
  <div class="container">
    <span class="text-muted float-left">
      Made by Mohammad Rahber-E-Alam Raafa © 2019
    </span>
    <span class="text-muted float-right">
      Powered by <%= image_tag 'https://openweathermap.org/themes/openweathermap/assets/img/openweather-negative-logo-RGB.png', width: 128, height: 54 %>
    </span>
  </div>
</footer>