<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">How is the weather?</h1>
  </div>
</div>

<% if @lat_lang.present? %>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>

  <%= @output %>
  <%= image_tag "http://openweathermap.org/img/w/" + (@output['weather'][0]['icon']).html_safe + ".png" %>
<% else %>
  <script>
      getLocation();
  </script>
<% end %>