<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">How is the weather?</h1>
  </div>

  <% if @lat_lang.present? %>
    <%= @output %>
<% else %>
    <script>
        getLocation();
    </script>
  <% end %>
</div>